

#catalog {
    margin: 20px;
    color: var(--main-color);
    font-size: 1.5rem;
    font-family:  'Lobster', sans-serif;
    text-align: center;
    color:white
}

#table-catalog {
    background-color: var(--importantText-color);
    color:white;
    border-radius: 3px;
    font-size: 1.0rem;
}

#table-catalog-right {
    display:block;
    text-align: right;
    margin-right: 200px;
    color:white
}

#table-catalog-left {
    float:left;
    margin-left: 200px;
}

@media (max-width:800px) {
    #table-catalog-left {
        float:left;
        margin-left: 100px;
    }
    #table-catalog-right {
        display:block;
        text-align: right;
        margin-right: 100px;
    }
    
}

@media (max-width:500px) {
    #table-catalog-left {
        margin-left: 0px;
    }
    #table-catalog-right {
        display:block;
        text-align: right;
        margin-right: 0px;
    }
}