@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap");

body {
    max-width: 1200px;
    min-width: 370px;
    margin:auto;
    background-color: rgb(255, 255, 255);
}


:root {
    scroll-behavior: smooth;
    --main-color:black;
    --acent-color: white;
    --importantText-color: rgb(133, 50, 150);
    font-family: 'Varela Round', sans-serif;
}

#we-products {
    color:var(--importantText-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Lobster', sans-serif;
}

.navbar-brand {
    font-family: 'Lobster', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    color: var(--main-color);
}

@media (max-width:430px) {
    .navbar-brand {
        font-family: 'Lobster', sans-serif;
        font-size: 2.0rem;
        text-align: center;
        color: var(--main-color);
    }
}

.header-banner {
    background-image: url(../img/home-photo-vine-butel.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#phrase {
    color:white;
    font-family: 'Lobster', sans-serif;
    font-size: 35px;
    justify-content: top;
    align-items: top;
}

#name-shop h1 {
    font-size: 3.5rem;
    color: var(--importantText-color);
    font-family: 'Lobster', sans-serif;
    background-color:white;
}

.carouselDiv {
    margin:20px;
    text-align:center;
}

main {
    margin:20px;
    text-align:center;
}

hr {
    margin: 20px;
}

.img-carusel {
    width: 100%;
}

#products-name {
    margin: 20px;
    color: var(--main-color);
    font-size: 1.5rem
}

#text-to-shop {
    margin:40px;
    font-family:  'Lobster', sans-serif;
    color:var(--importantText-color);
}

.navbar-light .navbar-brand {
    color:var(--importantText-color);
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.1);
}

.navbar-light .navbar-nav .nav-link {
    color:var(--importantText-color);
}

.navbar-light .navbar-nav {
    text-decoration: none;
    padding:11px;
    border: 1px solid transparent;
}

.navbar-light .navbar-nav a {
    border: 2px solid transparent;
    border-radius: 10%;
}

.navbar-light .navbar-nav a:hover {
    border: 2px solid var(--importantText-color);
    border-radius: 10%;
}

.contact-item {
    display:flex;
}

@media (min-width:990px) {
    .contact-item-div {
        margin-left: 40%;
    }    
}

@media (max-width:990px) {
    .contact-item-div {
        margin-left: 35%;
    }    
}

@media (max-width:540px) {
    .contact-item-div {
        margin-left: 27%;
    }    
}

.contact-item-import {
    color:var(--importantText-color);
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
}

#btn-footer {
    width: 100%;
}

nav #header-nav-padding {
    padding:20px;
}

.btn-primary {
    color: #fff;
    background-color: rgb(133, 50, 150);
    border-color: rgb(133, 50, 150);
}

