.img-decoration-title-right {
    float:right;
    width:350px
}

.img-decoration-title-left {
    float:left;
    width:350px;
}

.footer-decoration-title {
    display:none;
}

.footer-decoration-title-mini {
    display:none;
}

 @media (max-width:990px) {
     .img-decoration-title-left {
        display:none;
     }
    .img-decoration-title-right {
        display:none;
    }
    .footer-decoration-title {
        display: block;
        margin: 0 auto;
    }
 }

 @media (max-width:540px) {
    .img-decoration-title-left {
       display:none;
    }
   .img-decoration-title-right {
       display:none;
   }

   .footer-decoration-title {
       display:none;
   }

   .footer-decoration-title-mini {
        display: block;
        margin: 0 auto;
   }
 }